.vazirmatn {
    font-family: "Vazirmatn", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 5px;
}

.tag {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    color: #333;
    border: 1px solid #777;
    cursor: pointer;
}

.new-tag {
    display: flex;
    gap: 5px;
}